Django==3.2.13
djangorestframework==3.13.1
PyJWT==2.4.0
django-cors-headers==3.13.0
gunicorn==20.1.0
django-environ==0.8.1
django-widget-tweaks==1.4.12
currencies==2020.12.12
django-ckeditor==6.7.0
django-filter==2.4.0
django-fullurl==1.4
django-crispy-forms==1.13.0
crispy-bootstrap5==0.7
captcha==0.5.0
django_htmx==1.16.0
easy-thumbnails==2.8.5
django-allauth==0.54.0
coinbase==2.1.0
django-storages==1.13.2
psycopg2==2.9.7
django_extensions==3.2.3
stripe==6.0.0
coinbase-commerce==1.0.1
django-currencies==0.10.1
django_redis==5.3.0
whitenoise==6.5.0
boto3==1.28.29
django-ses==3.5.0
django-debug-toolbar==4.2.0